#carrito {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

#carrito h2 {
    margin-bottom: 20px;
}

#carritoTotal {
    font-weight: bold;
}
