<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Editar Vuelos - TravelRim</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

  <link rel="icon" href="logo.png">

  <link rel="stylesheet" href="vuelos_css.css">
  <link rel="stylesheet" href="navbar.css">


</head>

<body>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="logorojo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index">Inicio</a>
      </li>

      <li class="nav-item" id="admin" style="display: none">
        <a class="nav-link" href="users">Usuarios</a>
      </li>

      <li class="nav-item" id="admin2" style="display: none">
        <a class="nav-link" href="editarVuelos">Editar Vuelos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Desconectarse</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row col-md-10">
    <h2>Editar Vuelos</h2>
  </div>
  <br>
  <p>El administrador de la página puede editar, borrar o <a href="#formularioNuevoVuelo">crear nuevos vuelos</a>.</p>

  <div class="row col-md-10">
    <table id="tablaVuelos" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha Ida</th>
        <th>Fecha Vuelta</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>


      </tbody>
    </table>
  </div>

  <div class="row col-md-10 mt-5">
    <br>

    <h3> Añadir un nuevo vuelo </h3>


    <form id="formularioNuevoVuelo">
      <div class="form-group">
        <br>
        <br>
        <br>

        <label for="origen">Origen:</label>
        <input type="text" class="form-control" id="origen" required>
      </div>
      <div class="form-group">
        <label for="destino">Destino:</label>
        <input type="text" class="form-control" id="destino" required>
      </div>
      <div class="form-group">
        <label for="fechaIda">Fecha Ida:</label>
        <input type="date" class="form-control" id="fechaIda" required>
      </div>
      <div class="form-group">
        <label for="fechaVuelta">Fecha Vuelta:</label>
        <input type="date" class="form-control" id="fechaVuelta" required>
      </div>
      <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" class="form-control" id="precio" required>
      </div>
      <button type="submit" class="btn btn-primary">Crear Vuelo</button>
    </form>
  </div>
</div>

<script src="editarVuelo.js"></script>
<script src="admin.js"></script>

</body>
</html>