<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelRim - Hoteles</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="navbar.css">
    <link rel="icon" href="logo.png">

  


</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="logorojo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vuelos">Vuelos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hoteles">Hoteles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="coche">Coche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="carrito">
                        <img src="carrito.png" alt="Carrito de compras" width="24" height="24">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Desconectarse</a>
                </li>
                <li class="nav-item" id="admin" style="display: none">
                    <a class="nav-link" href="users">Usuarios</a>
                </li>
                <li class="nav-item" id="admin2" style="display: none">
                    <a class="nav-link" href="editarVuelos">Editar Vuelos</a>
                </li>
            </ul>
        </div>
    </nav>


    <br>
        <h1>Buscador de Hoteles</h1>
        
        <br>
        <h3> Buscar por Pais: </h3>


        <br>
      <div class="input-group mb-3">


          <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
              <option selected>Elige el pais..</option>
          </select>
      </div>

    

      <div id="hotelesLista">
    </div>


    <script src="hoteles.js"></script>
    <script src="admin.js"></script>

</body>

</html>

   
